.topnav {
    background-color: #FF6347;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: middle;
    color: #fFF5EE;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: rgb(232, 182, 182);
    color: #ff6347;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #e6b8a8;
    color: #fFF5EE;
  }
